@mixin reset-list{
  font-size: 16px;
  margin: 10px;
  padding: 0;
  list-style: none;
}

@mixin respond($screenSize){
    @media screen and (min-width: $screenSize){
        background-color: blue;
    }
}